<div class="project-matrix">
    <table class="matrix-table">
        <!-- Encabezado de la Tabla -->
        <PMPHeader></PMPHeader>

        <!-- Cuerpo de la Tabla -->
        <tbody>
            <!-- Fila 0: Sin titulo -->
            <FirstRow ExportProjectCharter="ExportProjectCharter" ExportProjectExecution="ExportProjectExecution"></FirstRow>
            <PMPStakeHolders Project="@Project"></PMPStakeHolders>
            <PMPScope Project="@Project"></PMPScope>
            <PMPDeliverables Project="@Project"></PMPDeliverables>
            <PMPBudget Project="@Project"></PMPBudget>
            <PMPQuality Project="@Project"></PMPQuality>
            <PMPRisk Project="@Project"></PMPRisk>
            <PMPResources Project="@Project"></PMPResources>
            <PMPCommunication Project="@Project"></PMPCommunication>
            <PMPAcquisiton Project="@Project"></PMPAcquisiton>

        </tbody>
    </table>
</div>

@code {

    // Modelo de respuesta del proyecto

}