<tr>
    <td class="first-column">@RowName</td>
    <td>@StartContent</td>
    <td>@PlannificationContent</td>
    <td>@ExecutionContent</td>
    <td>@MonitoringContent</td>
    <td>@ClosingContent</td>
</tr>
@code {
    [Parameter]
    public string RowName { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment StartContent { get; set; } = null!;

    [Parameter]
    public RenderFragment PlannificationContent { get; set; } = null!;

    [Parameter]
    public RenderFragment ExecutionContent { get; set; } = null!;

    [Parameter]
    public RenderFragment MonitoringContent { get; set; } = null!;

    [Parameter]
    public RenderFragment ClosingContent { get; set; } = null!;
}

