@page "/OrganizationStrategies"

<FluentStack Orientation="Orientation.Vertical" Style="width:100%">
    <FluentStack Orientation=" Orientation.Horizontal">
        <div>
            <FluentButton Id="createorgastra" IconEnd="@(new Icons.Regular.Size32.Add())" OnClick="AddNew">

            </FluentButton>
            <FluentTooltip Anchor="createorgastra" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Top Delay=200>Create OrganizationStrategy</FluentTooltip>
            <FluentButton IconEnd="@(new Icons.Regular.Size32.DocumentData())">

            </FluentButton>
            <FluentButton IconEnd="@(new Icons.Regular.Size32.DocumentPdf())">

            </FluentButton>
        </div>
        <FluentSpacer />
        <FluentSearch @bind-Value="@nameFilter"
        Placeholder="Search..." />
    </FluentStack>

  
    @foreach (var row in FilteredItems)
    {
        <FluentStack Orientation="Orientation.Horizontal" Style="border:1px solid lightgray;border-radius:5px; padding:4px;" VerticalAlignment="VerticalAlignment.Center">

            <FluentLabel Typo="Typography.Body" Style="overflow-wrap: break-word;">@row.Name</FluentLabel>
            <FluentSpacer />
            <div>
                <FluentButton Id="@($"edit{row.Id}")" IconEnd="@(new Icons.Regular.Size20.Edit())" OnClick="@(()=>Edit(row))">

                </FluentButton>
                <FluentTooltip Anchor="@($"edit{row.Id}")" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Top Delay=200>Edit</FluentTooltip>
                <FluentButton Id="@($"delete{row.Id}")" IconEnd="@(new Icons.Regular.Size20.Delete())" OnClick="@(()=>Delete(row))">

                </FluentButton>
                <FluentTooltip Anchor="@($"delete{row.Id}")" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Top Delay=200>Delete</FluentTooltip>



            </div>
        </FluentStack>

    }


</FluentStack>

@code {

  
}
