@* <FluentGrid Spacing="2" AdaptiveRendering="true" Justify="JustifyContent.SpaceBetween"
            Style="width:100%;border: 1px dotted;padding: 4px;">

    @if (EditResponse == null)
    {

        <FluentGridItem xs="12" sm="10">
            <div>
                <RadzenText TextStyle="TextStyle.Header" 
                             Alignment="HorizontalAlignment.Start"
                             Style="overflow-wrap: break-word;">
                    @Case.Name
                </RadzenText>
            </div>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="2">
            <RadzenButton id="editcase" ButtonStyle="ButtonStyle.Light" aria-label="Edit item" Icon="edit"
                          @onclick="@(()=>Edit(Case))"></RadzenButton>
            <FluentTooltip Anchor="editcase" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Start Delay=100>@($"Edit")</FluentTooltip>
            <RadzenButton id="deletecase" ButtonStyle="ButtonStyle.Light" aria-label=" Delete item" Icon="delete"
                          @onclick="@(()=>Delete(Case))"></RadzenButton>
            <FluentTooltip Anchor="deletecase" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Start Delay=100>@($"Delete")</FluentTooltip>

        </FluentGridItem>
         <FluentGridItem xs="12" sm="12" Style="width:100%;border: 1px dotted;padding: 2px;">
            <FluentTabs @bind-ActiveTabId="@activeid" ShowActiveIndicator="true" Style="padding:4px;">
                <FluentTab Label="Background" Id="tab-1">
                    <BackGroundList Parent="Case" GetAll="GetAll"></BackGroundList>
                </FluentTab>
                <FluentTab Label="Stakeholder" Id="tab-2">
                    <StakeHolderList Parent="Case" GetAll="GetAll"></StakeHolderList>
                </FluentTab>
                <FluentTab Label="Scope" Id="tab-3">
                    <ScopeList Parent="Case" GetAll="GetAll"></ScopeList>

                </FluentTab>
                <FluentTab Label="Knwon Risk" Id="tab-4">
                    <KnownRiskList Parent="Case" GetAll="GetAll"></KnownRiskList>

                </FluentTab>
                <FluentTab Label="Succesful factor" Id="tab-5">
                    <SucessfullFactorList Parent="Case" GetAll="GetAll"></SucessfullFactorList>

                </FluentTab>
                <FluentTab Label="Decision criteria" Id="tab-6">
                    <DecissionCriteriaList Parent="Case" GetAll="GetAll"></DecissionCriteriaList>

                </FluentTab>

            </FluentTabs>
             </FluentGridItem>

    }
    else
    {
        <FluentGridItem xs="12" sm="12" Style="width:100%;border: 1px dotted;padding: 2px;">

            <UpdateCase Response="@EditResponse" Cancel="CancelAsync" GetAll="GetAll"></UpdateCase>
        </FluentGridItem>
    }
</FluentGrid> *@


@code {


    
}
