@page "/Deliverables/{ProjectId:guid}"

<div class="main-container" style="@StyleContaniner">
    <!-- Barra de Herramientas -->
    <DeliverableToolBar OnNavigateBack="Navigation.NavigateBack"
                               OnAddNew="AddNew"
                               OnMoveUp="Up"
                               OnMoveDown="Down"
                               OnMoveRight="Right"
                               OnMoveLeft="Left"
                               DisableAddButton="@DisableAddButton"
                               DisableUpButton="@DisableUpButton"
                               DisableDownButton="@DisableDownButton"
                               DisableRightButton="@DisableRightButton"
                               DisableLeftButton="@DisableLeftButton"
                               CurrentRowName="@CurrentRowName">
    </DeliverableToolBar>
    @if (Items.Any())
    {
        <DeliverableHeader Response="@Response"></DeliverableHeader>
        <!-- Contenido Desplazable de la Tabla -->
        <div class="scrollable-content">
            <Virtualize Items="Items" Context="task">
                <DeliverableRow Row="@task"
                                   @bind-Response="@Response"
                                   OnDelete="Delete"
                                   OnEdit="RowEdit"
                                   OnCancel="CancelEdit"
                                   OnClick="RowClick"
                                   OnSave="Save"></DeliverableRow>
            </Virtualize>
        </div>
    }
</div>
 
@code {

}
