<div class="toolbar">
    <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowStepBack())" OnClick="@OnNavigateBack" ToolTip="Go Back"></IconButton>
    <IconButton IconEnd="@(new Icons.Regular.Size20.Add())" OnClick="@OnAddNew" ToolTip="Add New Deliverable" Disabled="@DisableAddButton"></IconButton>
    <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowUp())" OnClick="@OnMoveUp" ToolTip="Move Up" Disabled="@DisableUpButton"></IconButton>
    <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowDown())" OnClick="@OnMoveDown" ToolTip="Move Down" Disabled="@DisableDownButton"></IconButton>
    <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowRight())" OnClick="@OnMoveRight" ToolTip="Move Right" Disabled="@DisableRightButton"></IconButton>
    <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowLeft())" OnClick="@OnMoveLeft" ToolTip="Move Left" Disabled="@DisableLeftButton"></IconButton>
    <FluentSpacer />
    <FluentLabel Typo="Typography.Body">Selected: <strong>@CurrentRowName</strong></FluentLabel>
</div>

@code {
    [Parameter]
    public EventCallback OnNavigateBack { get; set; }

    [Parameter]
    public EventCallback OnAddNew { get; set; }

    [Parameter]
    public EventCallback OnMoveUp { get; set; }

    [Parameter]
    public EventCallback OnMoveDown { get; set; }

    [Parameter]
    public EventCallback OnMoveRight { get; set; }

    [Parameter]
    public EventCallback OnMoveLeft { get; set; }

    [Parameter]
    public bool DisableAddButton { get; set; }

    [Parameter]
    public bool DisableUpButton { get; set; }

    [Parameter]
    public bool DisableDownButton { get; set; }

    [Parameter]
    public bool DisableRightButton { get; set; }

    [Parameter]
    public bool DisableLeftButton { get; set; }

    [Parameter]
    public string CurrentRowName { get; set; } = string.Empty;
}