@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
       @*  <FluentProfileMenu Initials="@MainApp.Initials"
                           Style="padding: 4px;">
            <StartTemplate>
                @MainApp.FullName
            </StartTemplate>
            <HeaderTemplate>
                <MudField  Typo="@Typo.Header">Current User</MudField >
            </HeaderTemplate>
            <ChildContent>
                <div style="width: 250px; height: 80px">
                    <MudField  Typo="@Typo.Header" Style="font-weight: bold;">@MainApp.FullName</MudField >
                    <MudField >@MainApp.Email</MudField >
                </div>
            </ChildContent>
            <FooterTemplate>
                <FluentStack>
                    <FluentSpacer />
                    <MudLink Appearance="@Appearance.Hypertext"
                                  Href="logout"
                                  >Logout</MudLink>
                </FluentStack>
            </FooterTemplate>
        </FluentProfileMenu> *@
      
       


    </Authorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateTo("/logout");
    }
}
