@using FluentWeb.Pages.Authentication
@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Project Charter
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent>
        <AuthorizeView>
            <NotAuthorized>
                <MudStack Justify="@_justify" Spacing="2"
                         AlignItems="@_align" Style="padding:4px">
                    @Body
                </MudStack>


            </NotAuthorized>
            <Authorized>
                <ErrorBoundary>
                    <ChildContent>
                        <div class="content">
                            @Body
                        </div>
                    </ChildContent>
                    <ErrorContent Context="ex">
                        <div class="blazor-error-boundary">@ex.Message</div>
                    </ErrorContent>
                </ErrorBoundary>
            </Authorized>
        </AuthorizeView>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    Justify _justify = Justify.Center;
    AlignItems _align = AlignItems.Center;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
