@page "/Deliverables/{ProjectId:guid}"
<FluentStack Orientation="Orientation.Vertical" Width="100%" HorizontalAlignment="HorizontalAlignment.Start" VerticalAlignment="VerticalAlignment.Top">
    <div class="fixed-toolbar">

        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Left" VerticalAlignment="VerticalAlignment.Center">
            <!-- Botón "Go Back" -->
            <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowStepBack())" OnClick="@Navigation.NavigateBack" ToolTip="Go Back"></IconButton>

            <!-- Botón "Add New" -->
            <IconButton IconEnd="@(new Icons.Regular.Size20.Add())"
                        OnClick="@AddNew"
                        ToolTip="Add New Deliverable"
                        Disabled="@(CreateRow != null || EditRow != null)"></IconButton>

            <!-- Botón "Move Up" -->
            <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowUp())"
                        OnClick="@Up"
                        ToolTip="Move the selected deliverable up in the hierarchy"
                        Disabled="@(DisableUpButton || CreateRow != null || EditRow != null)"></IconButton>

            <!-- Botón "Move Down" -->
            <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowDown())"
                        OnClick="@Down"
                        ToolTip="Move the selected deliverable down in the hierarchy"
                        Disabled="@(DisableDownButton || CreateRow != null || EditRow != null)"></IconButton>

            <!-- Botón "Move Right" -->
            <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowRight())"
                        OnClick="@Right"
                        ToolTip="Move the selected deliverable to a lower level"
                        Disabled="@(DisableRigthButton || CreateRow != null || EditRow != null)"></IconButton>

            <!-- Botón "Move Left" -->
            <IconButton IconEnd="@(new Icons.Regular.Size20.ArrowLeft())"
                        OnClick="@Left"
                        ToolTip="Move the selected deliverable to a higher level"
                        Disabled="@(DisableLeftButton || CreateRow != null || EditRow != null)"></IconButton>

            <FluentSpacer />
            <FluentLabel Typo="Typography.Body">Selected: <strong>@CurrentRowName</strong></FluentLabel>
        </FluentStack>
    </div>
    <div class="gantt-container">
        <div class="gantt-sidebar">
            <!-- Encabezado Fijo -->
            <div class="gantt-sidebar-header">
                <div class="header-row">
                    <!-- Columna 1: LabelOrder -->
                    <span class="label-order-column">Label</span>

                    <!-- Columna 2: WBS -->
                    <span class="wbs-column">WBS</span>

                    <!-- Columna 3: Ícono de Expansión -->
                    <span class="expand-icon-header"></span>

                    <!-- Columna 4: Nombre del Deliverable -->
                    <span class="name-column">Name</span>

                    <!-- Columnas Adicionales -->
                    <span class="start-end-date-column">Start Date</span>
                    <span class="start-end-date-column">End Date</span>
                    <span class="duration-column">Duration</span>
                    <span class="dependencies-column">Dependencies</span>
                    <span class="type-column">Type</span>
                    <span class="lag-column">Lag</span>

                    <!-- Columna 11: Acciones -->
                    <span class="actions-column">Actions</span>
                </div>
            </div>

            <!-- Cuerpo con Desplazamiento Vertical -->
            <div class="gantt-sidebar-body">
                @foreach (var task in Response.OrderedItems)
                {
                    <NewDeliverableRow Level="1" Item="@task"
                                       OnEdit="EditItem"
                                       OnDelete="Delete"
                                       OnDoubleClick="EditItem"
                                       EditRow="@EditRow"
                                       CreateRow="@CreateRow"
                                       SelectedRow="@SelectedRow"
                                       OnSaveCreate="Create"
                                       OnSaveEdit="UpdateResponseAsync"
                                       OnClick="RowClick"
                                       OnCancelCreate="CancelCreate"
                                       OnCancelEdit="CancelEdit"
                                       OnChangeName="UpdateName"
                                       OnChangeLag="UpdateLag"
                                       OnChangeDependencies="UpdateDependencies"
                                       OnChangeDependencyType="UpdateDependencyType"
                                       OnChangeDuration="UpdateDuration"
                                       OnChangeStartDate="UpdateStartDate"
                                       OnChangeEndDate="UpdateEndDate"
                                       GetAll="GetAll"></NewDeliverableRow>
                }
            </div>
        </div>
    </div>




</FluentStack>


@code {

}
<style>

    /* Contenedor principal */
    .gantt-container {
        display: flex;
        margin: 20px;
        overflow-x: auto;
        font-family: Arial, sans-serif;
        width: 100%;
        height: calc(100vh - 100px);
    }

    .gantt-sidebar {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        width: 100%;
        flex-shrink: 0;
        border-right: 1px solid #ddd;
        background-color: #fff;
        overflow: hidden;
    }

    /* Encabezado fijo */
    .gantt-sidebar-header {
        position: sticky;
        top: 0;
        background-color: #f5f5f5;
        z-index: 10;
        border-bottom: 1px solid #ddd;
    }

    .header-row {
        display: grid;
        grid-template-columns: auto auto 20px 1fr repeat(7, minmax(100px, auto)) 150px; /* Ajuste para el ícono de expansión */
        align-items: center;
        padding: 8px 10px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    /* Estilo específico para la columna LabelOrder */
    .label-order-column {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2px;
        margin: 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
     
        min-width: 60px;
        max-width: 80px;
    }

    /* Estilo específico para la columna WBS */
    .wbs-column {
        display: flex;
        align-items: center;
        justify-content: center;
     
        padding: 2px;
        margin: 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
        min-width: 50px;
        max-width: 70px;
    }

    /* Estilo específico para el ícono de expansión en el encabezado */
    .expand-icon-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px; /* Ancho fijo para el ícono de expansión */
      
        padding: 4px;
        margin: 0 2px;
    
    }

    /* Estilo específico para la columna Name */
    .name-column {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2px;
        margin: 0 2px;
        white-space: normal; /* Permite que el texto se divida en varias líneas */
        word-wrap: break-word;
        overflow-wrap: break-word;
        color: #666;
    }

    /* Estilo específico para las columnas StartDate y EndDate */
    .start-end-date-column {
        display: flex;
        align-items: center;
        justify-content: center;
    
        padding: 2px;
        margin: 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
        min-width: 100px;
    }

    /* Estilo específico para la columna Duration */
    .duration-column {
        display: flex;
        align-items: center;
        justify-content: center;
       
        padding: 2px;
        margin: 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
        min-width: 80px;
    }

    /* Estilo específico para la columna Dependencies */
    .dependencies-column {
        display: flex;
        align-items: center;
        justify-content: center;
 
        padding: 2px;
        margin: 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
        min-width: 100px;
    }

    /* Estilo específico para la columna Dependency Type */
    .type-column {
        display: flex;
        align-items: center;
        justify-content: center;
      
        padding: 2px;
        margin: 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
        min-width: 100px;
    }

    /* Estilo específico para la columna Lag */
    .lag-column {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2px;
        margin: 0 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
  
        min-width: 80px;
    }

    /* Estilo específico para la columna Actions */
    .actions-column {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        min-width: 150px;
    }

    /* Cuerpo con desplazamiento vertical */
    .gantt-sidebar-body {
        flex-grow: 1;
        overflow-y: auto;
        max-height: calc(100vh - 150px);
    }
</style>